.tag {
  color: #ffffff;
  background-color: #000000;
  padding: 8px 15px 10px 15px;
  white-space: nowrap;
  overflow: hidden;
}

.tag-container {
  display: inline-block;
  margin: 12px 10px 12px 0;
}

.tag-posts {
  width: 100%;
  display: block;
}

.hidden {
  display: none;
}