.tag-container,
.tag-posts,
.tag-post-date,
.tag-post {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.tag-container {
  display: inline-block;
}

.tag {
  background-color: #000000;
  padding: 8px 15px 10px 15px;
}

.tag-link {
  color: #ffffff;
}

.tag-posts {
  width: 100%;
}

.tag-post {
  margin: 3px 15px 0 12px;
}

.tag-post-title {
  font-weight: $weight-heavy;
}

.tag-post-date {
  color: $text-color;
  font-size: .7em;
  font-weight: $weight-light;
}

.hidden {
  display: none;
}