.tag-container {
  background-color: #000;
  padding: 6px 12px 10px 12px;
  margin-right: -5px; // Reset rhs white space between inline elements.
  margin: 6px 12px 6px 0;
}

.tag-post-title {
  font-size: 1.5em;
  font-weight: $weight-normal;
}

.tag-post-date {
  color: $text-color;
  font-size: 1em;
  font-weight: $weight-light;
}

.hidden {
  display: none;
}

/* Should be last items in file. */
.tag-container {
  display: inline-block;
}

.tag-link-container,
.tag-post,
.tag-post-date {
  display: block;
}

.tag-link,
.tag-post-title,
.tag-post-date {
  color: #fff;
}